<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>ABC University: Seat Allotments</title>

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-darkness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/site.css"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">ABC University</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="page-header">
            <h1>Welcome to the Seat Allotment Page</h1>
        </div>

        <table class="table table-striped table-bordered">
            <tr>
                <td>Seat Id</td>
                <td>Student Name</td>
                <td>Department Name</td>
            </tr>
            <tr th:each="seatAllotment: ${seatAllotments}">
                <td th:text="${seatAllotment.seatId}">Seat Id</td>
                <td th:text="${seatAllotment.studentName}!=null?${seatAllotment.studentName}:'Not Alloted'">Student Name</td>
                <td th:text="${seatAllotment.departmentName}">Department Name</td>
            </tr>
        </table>
    </div>
    <footer class="footer navbar-inverse navbar-fixed-bottom"></footer>
</body>
</html>
